# MTK project .rc configure

import init.mt6765.usb.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

    setprop ro.vendor.aee.enforcing no
    setprop persist.vendor.mtk.aee.mode 3
    setprop persist.vendor.mtk.aeev.mode 3
    setprop persist.vendor.mtk.aee.filter 0
    setprop persist.vendor.anr.dumpthr 1

on post-fs-data

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

# [wuzhe start] add for exhibition mode support
    chown system system /sys/bus/platform/devices/battery/exhibition_mode
    chmod 0666 /sys/bus/platform/devices/battery/exhibition_mode
# [wuzhe end]

#led light

# [liguanxiong start]
on charger
    chown system system /sys/class/leds/mt6370_pmu_led4/trigger
    chown system system /sys/class/leds/mt6370_pmu_led4/brightness

    chown system system /sys/class/leds/mt6370_pmu_led1/trigger
    chown system system /sys/class/leds/mt6370_pmu_led1/brightness

    chmod 0664 /sys/class/leds/mt6370_pmu_led4/trigger
    chmod 0664 /sys/class/leds/mt6370_pmu_led4/brightness

    chmod 0664 /sys/class/leds/mt6370_pmu_led1/trigger
    chmod 0664 /sys/class/leds/mt6370_pmu_led1/brightness
# [liguanxiong end]

on boot
    chown system system /sys/class/leds/mt6370_pmu_led4/trigger
    chown system system /sys/class/leds/mt6370_pmu_led4/brightness
    chown system system /sys/class/leds/mt6370_pmu_led4/delay_on
    chown system system /sys/class/leds/mt6370_pmu_led4/delay_off

    chown system system /sys/class/leds/mt6370_pmu_led1/trigger
    chown system system /sys/class/leds/mt6370_pmu_led1/brightness
    chown system system /sys/class/leds/mt6370_pmu_led1/delay_on
    chown system system /sys/class/leds/mt6370_pmu_led1/delay_off

    chmod 0664 /sys/class/leds/mt6370_pmu_led4/trigger
    chmod 0664 /sys/class/leds/mt6370_pmu_led4/brightness
    chmod 0664 /sys/class/leds/mt6370_pmu_led4/delay_on
    chmod 0664 /sys/class/leds/mt6370_pmu_led4/delay_off

    chmod 0664 /sys/class/leds/mt6370_pmu_led1/trigger
    chmod 0664 /sys/class/leds/mt6370_pmu_led1/brightness
    chmod 0664 /sys/class/leds/mt6370_pmu_led1/delay_on
    chmod 0664 /sys/class/leds/mt6370_pmu_led1/delay_off
#tp auto test
    chown system system /sys/bus/i2c/devices/0-0048/fts_test 
    chmod 0664 /sys/bus/i2c/devices/0-0048/fts_test 
# aginttest for battery control
	chown system system /sys/devices/platform/battery/aging_test
	chmod 0664 /sys/devices/platform/battery/aging_test
#phone hardware info show
    chown system system /sys/kernel/tp_info 
    chmod 0664 /sys/kernel/tp_info 
    chown system system /sys/kernel/emmc_inf 
    chmod 0664 /sys/kernel/emmc_inf 
    chown system system /sys/kernel/back_camera 
    chmod 0664 /sys/kernel/back_camera 
    chown system system /sys/kernel/lcd_info
    chmod 0664 /sys/kernel/lcd_info 
    chown system system /sys/kernel/fp_info
    chmod 0664 /sys/kernel/fp_info
    chown system system /sys/kernel/mag_info
    chmod 0664 /sys/kernel/mag_info
#mmi dual camera check test
    chown system system /sys/kernel/arcsoft_dualcam_data
    chmod 0664 /sys/kernel/arcsoft_dualcam_data
	chown system system /sys/kernel/replace_new_dualcam_data
    chmod 0664 /sys/kernel/replace_new_dualcam_data
	chown system system /sys/kernel/torch_status
    chmod 0666 /sys/kernel/torch_status
on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

service spm_script /vendor/bin/spm_loader
    user system
    group system
    class core
    oneshot

# start remosaic_daemon
on property:sys.boot_completed=1
    start remosaic_daemon

service remosaic_daemon /vendor/bin/remosaic_daemon
    class core
    user system
    group system
    oneshot
    disabled

# [wangtao start]
on property:vendor.app_backuprestore.enable=1
    start backuprestore
on property:vendor.app_backuprestore.enable=0
    stop backuprestore
service backuprestore /system/bin/br_app_data_service
    socket backuprestore stream 0666 root sdcard_rw
    user root
# [wangtao end]

# [wuzhe start]
on property:persist.vendor.exhibition_mode=0
    write /sys/bus/platform/devices/battery/exhibition_mode 0
on property:persist.vendor.exhibition_mode=1
    write /sys/bus/platform/devices/battery/exhibition_mode 1
# [wuzhe end]

service mmc_ffu /vendor/bin/mmc_ffu do /vendor/bin/EMMC32G-TA28-B23-FFU.BIN /dev/block/mmcblk0 70 23 20
    class main
    user root
    group system
    oneshot
